<h1>Images</h1>

<%= form_for :image do |f| %>
  <% @images.each do |image| %>
  <p>
    <img src="<%= image.imgurl %>" /><%= f.radio_button :suitable, 'keep' %>
      <%= label :suitable, 'Keep', :value => 'keep' %>
    <%= f.radio_button :suitable, 'remove', :checked => true %>
      <%= label :suitable, 'Remove', :value => 'remove' %>
  </p>
  <% end %>
  <p><%= submit_tag "Save" %></p>
<% end %>