<p id="notice"><%= notice %></p>

<p>
  <b>Mongoid:</b>
  <%= @image.blogposturl %>
</p>

<p>
  <b>Imgurl:</b>
  <%= @image.blogurl %>
</p>


<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
